Repository morewings/cra-template-quickstart-redux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

1.0.7
  package.json
Due: none

update template
  package.json
  template.json
Due: none

update docs
  docs/Install.mdx
Due: none

add prestart script
  README.md
  docs/Install.mdx
  docs/Intro.mdx
  prepare.js
  templateFiles.js
  writeTemplateConfig.js
Due: eslint --fix

generate template
  .gitignore
  cleanFiles.js
  package.json
  template.json
  templateFiles.js
  writeTemplateConfig.js
Due: eslint --fix

Add prestart script and template generation (#105)
  .gitignore
  README.md
  cleanFiles.js
  docs/Install.mdx
  docs/Intro.mdx
  package.json
  prepare.js
  template.json
  templateFiles.js
  writeTemplateConfig.js
Due: eslint --fix

1.1.0
  package.json
Due: none

fix deps
  package.json
  yarn.lock
Due: none

test
  package.json
Due: none

no cache
  .travis.yml
Due: none

travis
  .travis.yml
Due: none

fix
  src/features/counter/CounterReducer.js
  src/features/random/RandomReducer.js
Due: eslint --fix

1.1.1
  package.json
Due: none

travis (#118)
  .travis.yml
Due: none

add less support
  .gitignore
  .lintstagedrc
  .stylelintrc
  .travis.yml
  package.json
  src/components/Counter/Counter.module.css
  src/components/Counter/Counter.module.less
  yarn.lock
Due: stylelint --fix

add postcss support
  .gitignore
  .lintstagedrc
  .stylelintrc
  .travis.yml
  package.json
  postcss.config.js
  src/components/Counter/Counter.module.css
  src/components/Counter/Counter.module.pcss
  yarn.lock
Due: eslint --fix, stylelint --fix

add scss support
  .lintstagedrc
  package.json
  src/components/Counter/Counter.js
  src/components/Counter/Counter.module.css
  src/components/Counter/Counter.module.scss
  yarn.lock
Due: eslint --fix, stylelint --fix

1.1.2
  package.json
Due: none

1.1.3
  package.json
Due: none

update caniuse
  yarn.lock
Due: none

update caniuse (#209)
  yarn.lock
Due: none

fix
  .eslintrc
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml (#221)
  .github/dependabot.yml
Due: none

delete CRA readme
  README.md
  README_CRA.md
  templateFiles.js
Due: eslint --fix

wip
  README.md
  package.json
  src/features/counter/README.md
  src/features/random/README.md
  yarn.lock
Due: none

refactor random feature
  src/components/Random/Random.js
  src/features/random/README.md
  src/features/random/__snapshots__/actionCreators.spec.js.snap
  src/features/random/__snapshots__/useGetRandomNumberQuery.spec.js.snap
  src/features/random/index.js
  src/features/random/selectors.js
  src/features/random/selectors.spec.js
  src/features/random/useGetRandomNumberQuery.js
  src/features/random/useGetRandomNumberQuery.spec.js
Due: eslint --fix

refactor Counter
  jsconfig.json
  src/components/Counter/Counter.js
  src/features/counter/README.md
  src/features/counter/index.js
  src/features/counter/useIncrementCounter.js
  src/features/counter/useIncrementCounter.spec.js
Due: eslint --fix

add test
  src/components/Random/Random.spec.js
  src/components/Random/__snapshots__/Random.spec.js.snap
Due: eslint --fix

WIP
  src/components/App/App.js
  src/components/Random/Random.spec.js
  src/components/Random/__snapshots__/Random.spec.js.snap
Due: eslint --fix

Refactor features (#210)
  README.md
  README_CRA.md
  jsconfig.json
  package.json
  src/components/App/App.js
  src/components/Counter/Counter.js
  src/components/Random/Random.js
  src/components/Random/Random.spec.js
  src/components/Random/__snapshots__/Random.spec.js.snap
  src/features/counter/README.md
  src/features/counter/index.js
  src/features/counter/useIncrementCounter.js
  src/features/counter/useIncrementCounter.spec.js
  src/features/random/README.md
  src/features/random/__snapshots__/actionCreators.spec.js.snap
  src/features/random/__snapshots__/useGetRandomNumberQuery.spec.js.snap
  src/features/random/index.js
  src/features/random/selectors.js
  src/features/random/selectors.spec.js
  src/features/random/useGetRandomNumberQuery.js
  src/features/random/useGetRandomNumberQuery.spec.js
  templateFiles.js
  yarn.lock
Due: eslint --fix

add storybook confiugration
  .env
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  .travis.yml
  docs/Imports.mdx
  docs/Imports.stories.mdx
  docs/Install.stories.mdx
  docs/Intro.stories.mdx
  docs/Linters.stories.mdx
  docs/Redux.mdx
  docs/Redux.stories.mdx
  docs/Style.stories.mdx
  docs/Test.stories.mdx
  doczrc.js
  package.json
  yarn.lock
Due: eslint --fix

add storybook confiugration (#247)
  .env
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  .travis.yml
  docs/Imports.mdx
  docs/Imports.stories.mdx
  docs/Install.stories.mdx
  docs/Intro.stories.mdx
  docs/Linters.stories.mdx
  docs/Redux.mdx
  docs/Redux.stories.mdx
  docs/Style.stories.mdx
  docs/Test.stories.mdx
  doczrc.js
  package.json
  yarn.lock
Due: eslint --fix

add husky
  .husky/pre-commit
  .husky/pre-push
  .huskyrc
  package.json
  yarn.lock
Due: none

update husky
  .gitignore
  README.md
  cleanFiles.js
  copyFiles.js
  prepare.js
  template/gitignore
  templateFiles.js
  writeTemplateConfig.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
