Repository morewings/cra-template-quickstart-redux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, stylelint --fix --quiet

Update README.md
  README.md
Due: none

update storybook and node version
  .nvmrc
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint --fix --quiet

update storybook and node version (#337)
  .nvmrc
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint --fix --quiet

1.2.1
  package.json
Due: none

1.2.2
  package.json
Due: none

Create pages.yml
  .github/workflows/pages.yml
Due: none

remove storybook
  .storybook/main.js
  .storybook/preview.js
  netlify.toml
  package.json
  yarn.lock
Due: eslint --fix --quiet

add Github pages action
  .github/workflows/merge-jobs.yml
  .github/workflows/pages.yml
Due: none

fix action
  .github/workflows/pages.yml
Due: none

update caniuse
  yarn.lock
Due: none

remove storybook command
  .github/workflows/pull-request-jobs.yml
Due: none

update actions
  .github/workflows/pull-request-jobs.yml
Due: none

update homepage url
  package.json
Due: none

update merge jobs
  .github/workflows/merge-jobs.yml
Due: none

add is-ci
  package.json
  yarn.lock
Due: none

Remove storybook (#378)
  .github/workflows/merge-jobs.yml
  .github/workflows/pages.yml
  .github/workflows/pull-request-jobs.yml
  .storybook/main.js
  .storybook/preview.js
  netlify.toml
  package.json
  yarn.lock
Due: eslint --fix --quiet

fix pages action
  .github/workflows/pages.yml
Due: none

fix gh-pages
  package.json
  yarn.lock
Due: none

remove gh-pages
  package.json
  yarn.lock
Due: none

Update README.md
  README.md
  docs/Imports.stories.mdx
  docs/Install.stories.mdx
  docs/Intro.stories.mdx
  docs/Linters.stories.mdx
  docs/Redux.stories.mdx
  docs/Style.stories.mdx
  docs/Test.stories.mdx
Due: none

Update stylelint
  .stylelintrc
  package.json
  src/components/Counter/Counter.module.css
  src/components/Random/Random.module.css
  yarn.lock
Due: stylelint --fix --quiet

Update stylelint (#379)
  .stylelintrc
  package.json
  src/components/Counter/Counter.module.css
  src/components/Random/Random.module.css
  yarn.lock
Due: stylelint --fix --quiet

1.3.0
  package.json
Due: none

update axios
  package.json
  yarn.lock
Due: none

update axios (#395)
  package.json
  yarn.lock
Due: none

1.3.1
  package.json
Due: none

Update README.md
  src/features/counter/README.md
Due: none

make package scripts agnostic
  package.json
  yarn.lock
Due: none

Make package scripts agnostic (#434)
  package.json
  yarn.lock
Due: none

1.3.2
  package.json
Due: none

refactor middleware
  src/middlewares/promiseResolverMiddleware.js
Due: eslint --fix --quiet

refactor middleware (#453)
  src/middlewares/promiseResolverMiddleware.js
Due: eslint --fix --quiet

fix npm publish
  .github/workflows/merge-jobs.yml
Due: none

add pnpm
  .github/workflows/merge-jobs.yml
  .github/workflows/pages.yml
  .github/workflows/pull-request-jobs.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

1.3.3
  package.json
Due: none

fix CI
  .nvmrc
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --fix --quiet: any of: *.js
  stylelint --fix --quiet: any of: *.css
