Repository morewings/cra-template-quickstart-redux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

update readme
  README.md
Due: none

fix readme
  README.md
Due: none

0.5.1
  package.json
Due: none

fix build
  .gitignore
  package.json
Due: none

0.4.6
  package.json
Due: none

rollback
  package.json
Due: none

0.5.0
  package.json
Due: none

clean up
  README.md
  renovate.json
Due: none

clean up
  .travis.yml
Due: none

fix typo
  README.md
Due: none

0.6.0
  package.json
Due: none

fix
  package.json
Due: none

Update README.md
  README.md
Due: none

Update README.md (#19)
  README.md
Due: none

WIP
  src/components/Counter/Counter.js
  src/features/counter/actionCreators.js
  src/features/counter/index.js
  src/features/counter/selectors.js
Due: eslint --fix

improve tests
  src/components/App/App.spec.js
  src/components/Counter/Counter.spec.js
  src/features/counter/CounterReducer.js
  src/features/counter/CounterReducer.spec.js
  src/features/counter/actionCreators.js
  src/features/counter/selectors.js
  src/index.js
  src/withProvider.js
  src/withReduxFeatures.js
Due: eslint --fix

fix tests
  .eslintrc
  package.json
  src/__snapshots__/App.spec.js.snap
  src/components/App/App.spec.js
  src/components/App/__snapshots__/App.spec.js.snap
  src/components/Counter/Counter.js
  src/components/Counter/Counter.spec.js
  src/components/Counter/__snapshots__/Counter.spec.js.snap
  src/features/counter/CounterReducer.spec.js
  src/index.js
  src/setupTests.js
  src/withReduxProvider.js
  yarn.lock
Due: eslint --fix

WIP
  package.json
  src/components/App/App.spec.js
  src/components/App/__snapshots__/App.spec.js.snap
  src/components/Counter/Counter.spec.js
  src/components/Counter/__snapshots__/Counter.spec.js.snap
  src/components/Random/Random.js
  src/components/Random/Random.spec.js
  src/components/Random/__snapshots__/Counter.spec.js.snap
  src/components/Random/__snapshots__/Random.spec.js.snap
  src/features/random/RandomReducer.js
  src/features/random/actionCreators.js
  src/features/random/actionTypes.js
  src/features/random/index.js
  src/features/random/selectors.js
  src/withReduxFeatures.js
  yarn.lock
Due: eslint --fix

WIP
  README.md
  package.json
  src/components/App/App.js
  src/components/App/App.module.css
  src/components/App/App.spec.js
  src/components/App/index.js
  src/features/random/index.js
  src/index.js
  src/withReduxProvider.js
  template.json
  yarn.lock
Due: eslint --fix, stylelint --fix

add random feature tests
  package.json
  src/config.js
  src/features/counter/actionCreators.spec.js
  src/features/random/RandomReducer.spec.js
  src/features/random/__snapshots__/actionCreators.spec.js.snap
  src/features/random/actionCreators.js
  src/features/random/actionCreators.spec.js
  src/features/random/selectors.spec.js
  yarn.lock
Due: eslint --fix

WIP
  src/components/App/App.spec.js
  src/components/App/__snapshots__/App.spec.js.snap
  src/components/Counter/Counter.spec.js
  src/components/Counter/__snapshots__/Counter.spec.js.snap
  src/components/Random/Random.spec.js
  src/components/Random/__snapshots__/Random.spec.js.snap
  src/features/counter/CounterReducer.spec.js
  src/features/counter/actionCreators.spec.js
  src/features/counter/selectors.spec.js
  src/features/random/RandomReducer.spec.js
  src/features/random/__snapshots__/RandomReducer.spec.js.snap
Due: eslint --fix

WIP
  package.json
  src/components/App/App.js
  src/components/App/App.module.css
  src/components/App/__snapshots__/App.spec.js.snap
  src/components/Counter/Counter.js
  src/components/Random/Random.js
  src/components/Random/Random.module.css
  src/components/Random/Random.spec.js
  src/components/Random/__snapshots__/Counter.spec.js.snap
  src/components/Random/index.js
  src/features/counter/CounterReducer.spec.js
  src/features/counter/actionCreators.spec.js
  src/features/counter/selectors.spec.js
  src/withReduxFeatures.js
  template.json
  yarn.lock
Due: eslint --fix, stylelint --fix

clean up
  .stylelintrc
  .travis.yml
  README.md
  src/components/Random/Random.js
  src/components/Random/Random.module.css
  src/components/Random/__snapshots__/Random.spec.js.snap
Due: eslint --fix, stylelint --fix

fix
  .gitignore
  package.json
Due: none

0.6.1
  package.json
Due: none

fix
  template.json
Due: none

0.6.2
  package.json
Due: none

0.6.3
  package.json
Due: none

0.6.4
  package.json
Due: none

ninja fix
  package.json
Due: none

clean up
  README.md
Due: none

0.6.5
  package.json
Due: none

Update actionCreators.spec.js
  src/features/random/actionCreators.spec.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
